.env
node_modules/
.twilio-functions
.twiliodeployinfo
assets/
.DS_Store

# iOS
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.build/
apps/ios/LiveVideo/fastlane/Preview.html
apps/ios/LiveVideo/fastlane/screenshots/**/*.png
apps/ios/LiveVideo/fastlane/test_output
